body{
    background-image: url("material/home/cover.png");
    margin:0;
    overflow: hidden;
}
#about{
    cursor: pointer;
    position: absolute;
    margin-left: 1100px;
    padding: 11px;
}
.header{
    display: block;

}
    #bar{
        height: 15px;
        width:25%;
    }
    .bg-red{
        background-image: linear-gradient(to left, rgba(220,89,61,0), rgba(220,89,61,0.4));
    }
    .bg-blue{
        background-image: linear-gradient(to left, rgba(8,53,81,0.4), rgba(220,89,61,0.4));
    }
    .bg-green{
        background-image: linear-gradient(to left, rgba(95,141,142,0.4), rgba(220,89,61,0.4));
    }
    #cross{
        display:flex;
        align-items: center;
}
    #close{
        margin-left: 50% ;
        margin-right: auto;
}
    #word{
        display: flex;
        justify-content: center;
}

.content{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0px;
    transition-duration: 1000ms;
}

.content:hover{
    margin-left:-135px;
    transition-duration: 1000ms;
}
.content-click{
    margin-left:-135px;
    transition-duration: 1000ms;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

    #ltarget,#rtarget{
        cursor: pointer;
    }

.modal{
    height: 100%;
    display:none;
}

.wall{

    display: flex;
    justify-content: center;
}

#close{
    cursor: pointer;
}

.cline{
    z-index: 0;
    display:flex;
    margin:0 auto;
    justify-content: center;
    padding:25px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0.4);
    color: rgb(102,102,102);
 }

.click{
    transform: rotate(90deg);
    border-top:5px solid rgba(255,255,255,1);
    border-right:5px solid rgba(255,255,255,1);
    border-bottom:5px solid rgba(255,255,255,1);
    border-left:5px solid rgba(255,255,255,1);
    transition:transform 2s linear, border-top-color 0.5s linear, border-right-color 0.5s linear 0.40s, border-bottom-color 0.5s linear 0.80s,border-left-color 0.5s linear 1.4s;
}

.main{
    padding:50px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    font-weight: 100;
    width:480px;
    height:480px;
    border-radius: 50%;
}

.origin{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.3) 50%);
    transition-duration: 500ms;
}
/*@keyframes BackgroundGradient{*/
/*    0% {background-position: 0% 50%;}*/
/*    50% {background-position: 100% 50%;}*/
/*    100% {background-position: 0% 50%;}*/
/*    }*/
.origin-red {
    background: linear-gradient(90deg, rgba(220, 89, 61, 0.3) 50%, rgba(220, 89, 61, 0.3) 50%);
    color: rgb(241, 241, 241);
    /*animation: BackgroundGradient 30s ease infinite;*/
    /*}*/
}

.origin-blue{
    background: linear-gradient(90deg, rgba(8, 53, 81,0.3) 50%, rgba(220,89,61,0.3) 50%);
    color: rgb(241,241,241);
}

.origin-green{
    background: linear-gradient(90deg, rgba(96, 141, 142,0.3) 50%, rgba(220,89,61,0.3) 50%);
    color: rgb(241,241,241);
}

.run{
    transform: rotate(-90deg);
    transition:transform 2s linear;
}

.littleo{

    z-index:1;
    margin-top:-50px ;
    display: flex;
    justify-content: center;

}

#red{
    cursor: pointer;
    width:70px;
    height:70px;
    border-radius:50%;
    background-color: rgba(229,125,108,0.7);
}

#blue{
    cursor: pointer;
    width:70px;
    height:70px;
    border-radius:50%;
    background-color: rgba(8,53,81,0.7);
    margin:0 100px;
    /*å‰é¢ä¸Šä¸‹ï¼Œå¾Œé¢å·¦å³*/
}

#green{
    cursor: pointer;
    width:70px;
    height:70px;
    border-radius:50%;
    background-color: rgba(95,141,142,0.7);
}




.wrapper {
    width: 71vh; /* Set the size of the progress bar */
    height: 71vh;
    position: absolute; /* Enable clipping */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    clip: rect(0px, 0px, 68vh, 50vh);
  }
  /* Set the sizes of the elements that make up the progress bar */
  .circle {
    width: 70vh;
    height: 70vh;
    border: 2px solid rgb(255,255,255);
    border-radius: 35vh;
    position: absolute;
    clip: rect(0px, 50vh, 68vh, 0px);
  }
  /* Using the data attributes for the animation selectors. */
  /* Base settings for all animated elements */
  div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;  /* Only run once */
    -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
    -webkit-animation-timing-function:linear; /* Linear animation */
  }
  
  .wrapper[data-anim~=wrapper] {
    -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
    -webkit-animation-delay: 3s; /* Wait half of the animation */
    -webkit-animation-name: close-wrapper; /* Keyframes name */
  }
  
  .circle[data-anim~=left] {
    -webkit-animation-duration: 6s; /* Full animation time */
    -webkit-animation-name: left-spin;
  }
  
  .circle[data-anim~=right] {
    -webkit-animation-duration: 3s; /* Half animation time */
    -webkit-animation-name: right-spin;
  }
  /* Rotate the right side of the progress bar from 0 to 180 degrees */
  @-webkit-keyframes right-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(180deg);
    }
  }
  /* Rotate the left side of the progress bar from 0 to 360 degrees */
  @-webkit-keyframes left-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  /* Set the wrapper clip to auto, effectively removing the clip */
  @-webkit-keyframes close-wrapper {
    to {
      clip: rect(auto, auto, auto, auto);
    }
  }
