=buttonStyle($color, $radius)
  background-color: $color
  border-radius: $radius

#container
  display: flex
  justify-content: space-around
  button
    color: black
    padding: 15px
    // Step 2 code goes here
    &:nth-child(1)
    +buttonStyle(red, 15px)
    &:nth-child(2)
    +buttonStyle(blue, 15px)
